<!DOCTYPE html>
<html>
	<head>
		<title>Price War</title>
		<meta charset="utf-8">	
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/t/bs/jq-2.2.0,dt-1.10.11/datatables.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	</head>

	<body>
		<div class="container">
			<div class="row">
				<div id = PW_1 class="col-8">
					<h2>
						第一回合：
					</h2>
					<p>市場內共有2家廠商，每人有500名忠實客戶。</p>
					<p></p>
					<label for="example-text-input" class="col-2 col-form-label">出價:</label>

			  		<div class="col-3">
						<input class="form-control" type="number" placeholder="價格(1~200萬)" id="price1" min="1" max="200">
			  			<p></p>
			  			<button class='btn btn-primary' id='confrim1'>確認</button>
			  			<div id="result1"></div>
			  			<p></p>
			  		</div>
				</div>

				<div id = PW_2 class="col-8">
					<h2>
						第二回合：
					</h2>
					<p>市場內共有4家廠商，每人有250名忠實客戶。</p>
					<p></p>
					<label for="example-text-input" class="col-2 col-form-label">出價:</label>

			  		<div class="col-3">
						<input class="form-control" type="number" placeholder="價格(1~200萬)" id="price2" min="1" max="200">
			  			<p></p>
			  			<button class='btn btn-primary' id='confrim2'>確認</button>
			  			<div id="result2"></div>
			  			<p></p>
			  		</div>
				</div>

				<div id = PW_3 class="col-8">
					<h2>
						第三回合：
					</h2>
					<p>市場內共有8家廠商，每人有125名忠實客戶。</p>
					<p></p>
					<label for="example-text-input" class="col-2 col-form-label">出價:</label>

			  		<div class="col-3">
						<input class="form-control" type="number" placeholder="價格(1~200萬)" id="price3" min="1" max="200">
			  			<p></p>
			  			<button class='btn btn-primary' id='confrim3'>確認</button>
			  			<div id="result3"></div>
			  			<p></p>
			  		</div>
				</div>
		</div>		
	</body>
	<script>

	//===============debug===================
	//不能一次就顯示安個回合，要依序顯示
	//要讓按鈕能按
	//（解決）一次顯示一個回合，應該可以解決這個問題

		var record ={};
		var MAX_price=201;
		var NumOfNonLoyalCus = 1000;
		var Num_Of_company = 2;
		var counter = 1;
		//var access = {true,false,false}

		//=======================================================
		$(document).ready(function() {

			PriceWar(Num_Of_company,counter);
			record_result();

		});
		//=======================================================

		function PriceWar(Num_Of_company,counter)
		{
			//===============show the GUI===============

			$( "#PW_"+counter.toString()).css("display", "block");
			$('#price'+counter.toString()).prop('disabled', false);
			

			//===============click the button===============
			$( "#confrim"+counter.toString() ).click(function() {
				//Get the input price
				price = parseInt($("#price"+counter.toString()).val());
				
				if(price<=0 || price>=MAX_price)
				{
				alert("請輸入價格於1~200");
				} 
				else
				{
					$('#price'+counter.toString()).prop('disabled', true);
					record['round'+counter.toString()+'_input_price'] = price;
					var quantity = (1000/Num_Of_company);

					//calculate the equilium price
					var Lowest_price_to_sell = (2000*200+100*(Num_Of_company-2))/((Num_Of_company-1)*NumOfNonLoyalCus+1600);
					//alert(Lowest_price_to_sell);
				
					//===============calculate the profit===============
					if (price>Lowest_price_to_sell)
					{
						profit = (price-100)*(1000/Num_Of_company);
					}
					else
					{
						if (price == Lowest_price_to_sell)
						{
							profit = (price-100)*(1000/Num_Of_company+1000/Num_Of_company);
							quantity += (1000/Num_Of_company);
						}

						else
						{
							profit = (price-100)*(NumOfNonLoyalCus+1000/Num_Of_company);
							quantity += 1000
						}
					}
					
					record['round'+counter.toString()+'_quantity'] = quantity;
					record['round'+counter.toString()+'_profit'] = profit;
					

					//===============output the result===============
					if (profit>0){
						$( "#result"+counter ).text( "恭喜你賣出了"+quantity+" 個商品，總共賺了 "+profit+" 元");
					}
					else
					{
						if(profit == 0)
						{
							$( "#result"+counter ).text( "你賣出了 "+quantity+" 個商品，不賺不賠");
						}
						else
						{
							profit = profit*(-1)
							//$( "#result"+counter ).append( "你賣出了 "+quantity+" 個商品，你賠了 "+profit+" 元");
							$( "#result"+counter ).text( "你賣出了 "+quantity+" 個商品，你賠了 "+profit+" 元");
						}
					}
					counter += 1;
				}
				
				Num_Of_company = Num_Of_company*2;
				if (counter<=3)
				{
					PriceWar(Num_Of_company,counter);
				}
				
				
			})

			//Add 1 to the counter
			//counter += 1

		}

		function disable(){
			$(':input').prop('disabled', true);
			//$('#NBC_reject').prop('disabled', true);
		}

		function record_result()
		{
			console.log(record);
			var form_data = new FormData();

			for ( var key in record ) {
			    form_data.append(key, record[key]);
			}
			jQuery(document).ajaxSend(function(event, xhr, settings) {
			    function getCookie(name) {
			        var cookieValue = null;
			        if (document.cookie && document.cookie != '') {
			            var cookies = document.cookie.split(';');
			            for (var i = 0; i < cookies.length; i++) {
			                var cookie = jQuery.trim(cookies[i]);
			                // Does this cookie string begin with the name we want?
			                if (cookie.substring(0, name.length + 1) == (name + '=')) {
			                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			                    break;
			                }
			            }
			        }
			        return cookieValue;
			    }
			    function sameOrigin(url) {
			        // url could be relative or scheme relative or absolute
			        var host = document.location.host; // host + port
			        var protocol = document.location.protocol;
			        var sr_origin = '//' + host;
			        var origin = protocol + sr_origin;
			        // Allow absolute or scheme relative URLs to same origin
			        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
			            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
			            // or any other URL that isn't scheme relative or absolute i.e relative.
			            !(/^(\/\/|http:|https:).*/.test(url));
			    }
			    function safeMethod(method) {
			        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			    }
			 
			    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
			        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			    }
			});
			$.ajax({
			    url         : 'http://140.112.107.55:8000/api/Price_War/',
			    data        : form_data,
			    processData : false,
			    contentType : false,
			    type: 'POST'
			}).done(function(data){
			    console.log("add success")
			});
		}



	</script>
	<style>
		#PW_2,#PW_3{
			display:none;
		}
		.container{
			margin-top:5%;
		}
		#result1,#result2,#result3{
			 width:500px;
		}
    </style>
</html>



